.page{
	width : auto;
	margin :auto;
	font-size :16px;
	font-family : 'Source sans Pro', Calibri,Tahama, sans-serif;
}

.données{
	height : 320px;
	width : auto;
}
.Titre{
	float : center;
	width : auto;
	font-size : 30px;
	color : rgb(243, 22, 22);
}
.Information{
	float : left;
	width : auto;
	font-size: 20px;
}
strong{
	font-size: 20px; 
} 
h3{
	font-size: 40px;
	color : rgb(243, 22, 22);
	border-bottom: 3px solid rgb(243, 22, 22);
}

li{
	line-height:35px;
}
.section_Diplômes{
	height :400px;
	width : auto;
	margin-bottom: 70px;
	font-size: 20px;
}	
	
.sec-gauche_Dip{
	float : left;
	width : 200px;
	height: 360px;
}
.sec-gauche_Diplômes{
	float : left;
	font-size: 25px;
	width : 200px;
	height:100px;
	text-align: left;
}
.sec-droite_Dip{
	height: auto;
}
.sec-droite_Diplômes{
	line-height:10px;
	font-size: 25px;
	height: 100px;	
}
.section_Expériences{
	height :auto;
	width : auto;
	font-size: 20px;
}
.sec-gauche_Exp{
	float : left;
	width : 200px;
	height: 320px;
}
.sec-gauche_Expériences{
	float : left;
	font-weight: bold;
	font-size: 15px;
	width : 200px;
	height:150px;
}
.sec-droite_Expériences{
	margin-left : 100px;
	line-height:10px;
	font-size: 25px;
	height: 150px;
}
.sec-droite_Exp{
	height: 320px;
}
.section_Compétences{
	height :160px;
	width : auto;
	margin-bottom: 70px;
	font-size: 20px;
}	

.sec-gauche_Compétences{
	float : left;
	font-size: 25px;
	width : 500px;
	height:150px;
	text-align: left;
}
.sec-droite_Compétences{
	float : left;
	font-size: 25px;
	width : auto;
	height:150px;
	text-align: left;
}
.section_Langues{
	height :200px;
	width : auto;
	margin-bottom: 70px;
	font-size: 30px;
}	



